<div class="tabs">
  <% if Evaluation.received?(evaluation_kind) %>
    <%= link_to t('mine'), kind_evaluations_path(Evaluation::KINDS[:received]), class: "tab-link active" %>
  <% else %>
    <%= link_to t('mine'), kind_evaluations_path(Evaluation::KINDS[:received]), class: "tab-link" %>
  <% end %>

  <% if Evaluation.written?(evaluation_kind) %>
    <%= link_to t('written'), kind_evaluations_path(Evaluation::KINDS[:written]), class: "tab-link active" %>
  <% else %>
    <%= link_to t('written'), kind_evaluations_path(Evaluation::KINDS[:written]), class: "tab-link" %>
  <% end %>
</div>

<h1><%= t(evaluation_kind, scope: :evaluation) %></h1>

<% if Evaluation.written?(evaluation_kind) %>
  <p class="main-actions">
    <%= link_to t('evaluation.add'), new_evaluation_path, class: 'button' %>
  </p>
<% end %>
