<table class="w-full whitespace-no-wrap ">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3"><%= t 'name' %></th>
      <th class="px-4 py-3"><%= t 'client' %></th>
      <th class="px-4 py-3"><%= t 'allocated_until' %></th>
      <th class="px-4 py-3"><%= t 'level' %></th>
      <th class="px-4 py-3"><%= t 'specialty' %></th>
      <th class="px-4 py-3"><%= t 'english_evaluation' %></th>
      <th class="px-4 py-3"><%= t 'skills' %></th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <% allocations.each do |allocation| %>
      <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%= allocation.user_name %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.project_name %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.end_at %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.user_level %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.user_specialty %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.user_english_level  %>
            </p>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= allocation.user_skills %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
