<h2 class="text-3xl mb-8"><%= t("resend_instructions")%></h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'w-full' }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
    <div class="w-full">

  <%= f.input :email,
            required: true,
            autofocus: true,
            class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0",
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
              input_html: { autocomplete: "email", class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0" },
              label_html: { class: "block mb-2 text-base text-grey-400" } %>
    </div>

  <%= f.button :submit, t("resend_instructions"),
  class: "w-full h-10 mt-8 px-4 rounded bg-red text-white transition-all hover:brightness-110 mb-4 cursor-pointer" %>
<% end %>

<%= render "devise/shared/links" %>

