  <div class="access-form-container mt-2">
    <h4 class="text-center mb-3">Resend confirmation instructions</h4>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <div class="input-group">
          <div class="input-group-prepend">
           <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
          </div>
          <%= f.input_field :email,
                    label: false,
                    required: true,
                    autofocus: true,
                    placeholder: "E-mail",
                    class: "form-control",
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                    input_html: { autocomplete: "email" } %>
        </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
