<div class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase bg-gray-50 dark:text-white dark:bg-slate-700">
  <p colspan="100%" class="px-3 py-3"><%= t('user_details') %></p>
</div>

<% if performance_evaluations.present? %>
 
  <section class="grid grid-cols-[auto_1fr] gap-y-4 bg-white divide-y-2 dark:divide-gray-700 dark:bg-gray-800">

    <div class="px-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-t-2 dark:border-gray-700">
      <%= t('evaluation') %>
    </div>

    <table id="evaluations_table">
      <tr class="text-gray-700 dark:text-gray-300">
        <th class="w-1/12">
          <div class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= t('created_at') %>
          </div>
        </th>
        <th class="w-1/12">
          <div class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= t('activerecord.attributes.evaluation.evaluator') %> 
          </div>
        </th>
        <th class="w-1/12">
          <div class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= t('activerecord.attributes.evaluation.score') %>
          </div>
        </th>
        <th class="w-1/12">
          <div class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= t('activerecord.attributes.evaluation.questionnaire') %>
          </div>
        </th>
        <th class="w-1/12">
        </th>
      </tr>

      <% performance_evaluations.each do |evaluation|%>
        <tr class="text-gray-700 dark:text-gray-300">
          <td class="py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= evaluation.created_at %> 
              </p> 
            </div>
          </td>
          <td class="py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= evaluation.evaluator.name%>
              </p>
            </div>
          </td>
          <td class="py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= evaluation.score %>
              </p>
            </div>
          </td>
          <td class="py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= evaluation.questionnaire.title%>
              </p>
            </div>
          </td>
          <td class="py-3">
            <div class="flex items-center text-sm">
              <%= link_to t('access_evaluation'), '#', class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 underline hover:no-underline dark:hover:text-gray-200" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </section>

<% else %>
  <p class="text-md text-gray-600 dark:text-gray-400 font-semibold">
    <%= t ('no_performance_evaluations') %>
  </p>
<% end %>
