<div class="container">
  <h1><%= t(".open_source_repositories") %></h1>

  <div id="search">
    <%= form_tag repositories_path, class: 'search-form', method: :get do %>
      <div class="input-box" id="input-div" >
        <span id="languages-list"></span>

        <span class="input-languages-span">
          <%= text_field_tag 'languages', @languages, id: 'search-input-field', placeholder: 'Filtrar por linguagens. Ex.: ruby python' %>
        </span>
      </div>

      <%= submit_tag 'Filtrar', class: "button", id: "filter-button" %>
    <% end %>
  </div>

  <div class="list-group">
    <% @repositories.each do |repository| %>
      <%= link_to repository.link, class: "list-group-item list-group-item-action", target: "_blank" do %>
        <i class="fab fa-github"></i>
        <span class="d-inline-block"><%= repository.link %></span>
        <span class="d-inline-block float-right"> <%= repository.languages %></span>
      <% end %>
    <% end %>
  </div>

  <%= paginate @repositories %>
</div>
