<%= link_to t('.request_vacation'), new_vacation_path %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t(Vacation.human_attribute_name(:start_date)) %></th>
        <th><%= t(Vacation.human_attribute_name(:end_date)) %></th>
        <th><%= t(Vacation.human_attribute_name(:status)) %></th>
      </tr>
    </thead>

    <tbody>
      <% @vacations.each do |vacation| %>
        <tr class="user-vacation">
          <td><%= l(vacation.start_date, format: :default) %> </td>
          <td><%= l(vacation.end_date, format: :default) %> </td>
          <td><%= t(vacation.status_text) %> </td>
          <td>
            <% if vacation.pending? %>
              <%= link_to image_tag('destroy.png'), cancel_vacation_path(vacation.id), method: :delete, data: { confirm: t('.are_you_sure_remove_request') }, id: "dlt-#{vacation.id}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
