<%= link_to t('.request_vacation'), new_vacation_path, class: "button" if can?(:create, Vacation) %>
<br>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= Vacation.human_attribute_name(:start_date) %></th>
        <th><%= Vacation.human_attribute_name(:end_date) %></th>
        <th><%= Vacation.human_attribute_name(:status) %></th>
      </tr>
    </thead>

    <tbody>
      <% @vacations.each do |vacation| %>
        <tr class="user-vacation">
          <td><%= l vacation.start_date %></td>
          <td><%= l vacation.end_date %></td>
          <td><%= vacation.status_text %></td>
          <td>
            <% if can?(:destroy, vacation) %>
              <%= link_to image_tag('destroy.png'), vacation_path(vacation), method: :delete, data: { confirm: t('.are_you_sure_remove_request') } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
