<%= simple_form_for @punch do |f| %>
  <div class="row">
    <%= f.input :from_time, input_html: {
      class: %i(spinner-hr),
      size: 4,
      value: @punch.from.present? ? l(@punch.from, format: '%H:%M') : '00:00'
    }, wrapper_html: { class: %i(col-xs-2) } %>
    <%= f.input :to_time, input_html: {
      class: %i(spinner-hr),
      size: 4,
      value: @punch.to.present? ? l(@punch.to, format: '%H:%M') : '00:00'
    }, wrapper_html: { class: %i(col-xs-2) } %>
    <%= f.input :when_day, input_html: {
      class: %i(datepicker),
      size: 10,
      value: @punch.from.present? ? l(@punch.from, format: '%Y-%m-%d') : Time.now.strftime("%Y-%m-%d")
    }, wrapper_html: { class: %i(col-xs-2) } %>
  </div>

  <div class="row">
    <%= f.input :project_id, collection: @projects.order(:name), input_html: {
      class: %i(form-control)
    }, wrapper_html: { class: %i(col-xs-2) } %>
    <%= f.input :attachment, wrapper_html: { class: %i(col-xs-2)} %>
    <%= f.input :remove_attachment,
      as: :boolean,
      inline_label: 'Deletar',
      label: false,
      wrapper_html: { class: %i(col-xs-4 checkbox) }
    %>
  </div>

  <div class="row">
    <%= f.input :comment, wrapper_html: { class: %i(col-xs-6) } %>
  </div>
  <%= f.submit %>
<%- end %>
