<%= simple_form_for punch do |f| %>
  <div class="row">
    <div class="col-lg-8">

      <%= f.input :from_time, as: :time, html5: true, input_html: { value: f.object.from } %>

      <%= f.input :to_time, as: :time, html5: true, input_html: { value: f.object.to } %>

      <%= f.input :when_day, input_html: {
        class: %i(datepicker),
        size: 10,
        data: {
          holidays: current_user.holidays,
          allow_overtime: current_user.allow_overtime?
        },
        value: f.object.date,
        autocomplete: 'off'
      } %>
      <%= f.input :extra_hour, as: :boolean, html5: true, hint: "Marque se este Punch é referente à hora extra" %>
    </div>

    <div class="col-lg-8">
      <%= f.input :project_id, collection: @projects %>
      <%= f.input :attachment %>
      <%= f.input :remove_attachment,
        as: :boolean,
        inline_label: 'Deletar',
        label: false
      %>
    </div>
  </div>

<div class="row">
  <div class="col-lg-8">
    <%= f.input :comment %>
  </div>
</div>
<%= f.submit %>
<% end %>
