<%= nested_form_for(@punch) do |f| %>
  <% if @punch.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(@punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
      <% @punch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border="0" cellspacing="8" cellpadding="8" class="punch-form-table">
    <tr>
      <th><label>From</label></th>
      <td>
        <%= f.text_field :from_time, size: "4", class: "spinner-hr",
               value: @punch.from.present? ?
               l(@punch.from, format: '%H:%M') : '00:00' %>
      </td>
      <th><label>To</label></th>
      <td>
        <%= f.text_field :to_time, size: "4", class: "spinner-hr",
               value: @punch.to.present? ?
               l(@punch.to, format: '%H:%M') : '00:00' %>
      </td>
    </tr>
    <tr>
      <th><label>When</label></th>
      <td colspan="3">
        <%= f.text_field :when_day, class: "datepicker", size: "10",
               value: @punch.from.present? ?
               l(@punch.from, format: '%Y-%m-%d') : Time.now.strftime("%Y-%m-%d") %>
        <%= image_tag 'calendar.png' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :project_id, 'On' %></th>
      <td colspan="3">
        <%= f.collection_select :project_id, @projects.order(:name), :id, :name,
                                {}, { class: 'form-control' } %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :attachment, 'Anexo' %></th>
      <td colspan="3">
        <%= f.file_field :attachment %>
        <%= f.hidden_field :attachment_cache %>
        <p>
          <%= f.check_box :remove_attachment %>
          <%= f.label :remove_attachment, 'remove' %>
        </p>
        <p>
          <%= image_tag @punch.attachment_url, width: 250, height: 250 if @punch.attachment? %>
        </p>
      </td>
    </tr>
    <tr>
      <th>Comments</th>
      <td colspan="3">
        <%= f.text_area :comment %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Cancel', punches_path, class: 'btn btn-danger' %>
      </td>
      <td colspan="2">
        <div class="actions">
          <%= f.submit class: 'btn btn-default' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
