<%= simple_form_for @punch do |f| %>
  <div class="row">
    <%= f.input :from_time, as: :time, html5: true %>

    <%= f.input :to_time, as: :time, html5: true%>

    <%= f.input :when_day, input_html: {
      class: %i(datepicker),
      size: 10,
      data: {
        # national_holidays: national_holidays,
        # regional_holidays: parameterize_holidays(current_user.regional_holidays),
        # allow_overtime: current_user.allow_overtime?
      }
    } %>
    <%= f.input :extra_hour, as: :boolean, html5: true, hint: "Marque se este Punch é referente à hora extra" %>
  </div>

  <div class="row">
    <%= f.input :project_id, collection: @projects %>
    <%= f.input :attachment %>
    <%= f.input :remove_attachment,
      as: :boolean,
      inline_label: 'Deletar',
      label: false
    %>
  </div>

  <div class="row">
    <%= f.input :comment %>
  </div>
  <%= f.submit %>
<% end %>
