<div class="punches-header">
  <div class="punches-header-1">
    <div class="btn-group">
      <%= link_to 'Punch', new_punch_path, :class => 'btn btn-primary' %>
    </div>
  </div>
  <div class="punches-header-2">
    <%= search_form_for @search do |f| %>
      <div>
        Filter
        <%= f.date_select :from_gteq, { discard_day: true,
                          end_year: Time.now.year }, { class: 'form-control' } %>
        <%= f.collection_select :project_id_eq, Project.order(:name),
                                :id, :name, { prompt: false,
                                include_blank: 'All' },
                                { class: 'form-control' } %>
        <%= f.submit 'OK', :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <br/>
</div>

<table class="table table-striped">
  <colgroup>
    <col width="100"/>
    <col width="60"/>
    <col width="60"/>
    <col width="60"/>
    <col/>
    <col width="24"/>
    <col width="24"/>
  </colgroup>
  <thead>
    <tr>
      <th><%= sort_link @search, :from, 'When' %></th>
      <th>From</th>
      <th>To</th>
      <th>Delta</th>
      <th><%= sort_link @search, :project_id, 'Project' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @punches.each do |punch| %>
      <tr>
        <td><%= link_to(l(punch.from, :format => '%d/%m/%Y'), punch, id: "shw-#{punch.id}") %></td>
        <td><%= l punch.from, :format => '%H:%M' %></td>
        <td><%= l punch.to, :format => '%H:%M' %></td>
        <td><%= time_format(punch.delta) %></td>
        <td><%= punch.project.present? ? punch.project.name : '' %></td>
        <td>
          <%= link_to image_tag('edit.png'), edit_punch_path(punch), id: "edt-#{punch.id}" %>
        </td>
        <td><%= link_to image_tag('destroy.png'), punch, method: :delete, data: { confirm: 'Are you sure?' }, id: "dlt-#{punch.id}" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <strong>TOTAL:</strong>
        <%= time_format(current_user.total_hours(@punches)) %>
      </td>
    </tr>
  </tfoot>
</table>
