<nav class="navbar navbar-static-top">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', punches_path %></li>
    <li><%= link_to 'Edit', edit_punch_path(@punch) %></li>
  </ul>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= l @punch.from, :format => '%Y-%m-%d' %> from
  <%= l @punch.from, :format => '%H:%M' %> to
  <%= l @punch.to, :format => '%H:%M' %>
</p>

<p>
  <strong>Project:</strong>
  <%= @punch.project.present? ? @punch.project.name : '' %>
</p>

<p>
  <strong>User:</strong>
  <%= @punch.user.present? ? @punch.user.name : '' %>
</p>

<% if @punch.attachment? %>
  <p>
    <strong>Attachment:</strong>
    <%= link_to (image_tag @punch.attachment_url, width: 250, height: 250), @punch.attachment_url %>
  </p>
<% end %></p>

<p>
  <strong>Comments</strong>
  <% unless @punch.comment.nil? %>
    <p>
      <%= gravatar_for(@punch.comment.user) %>
      <%= @punch.comment.text %>
    </P
  <% end %>
</p>