<ul class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to t(:back, scope: :helpers), punches_path %></li>
  <li class="breadcrumb-item"><%= link_to t(:edit, scope: :helpers), edit_punch_path(@punch) %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Punch.human_attribute_name(:when)%>:</strong>
  <%= l @punch.from, :format => '%d/%m/%Y' %>
  <%= Punch.human_attribute_name(:from) %>
  <%= l @punch.from, :format => '%H:%M' %>
  <%= Punch.human_attribute_name(:to) %>
  <%= l @punch.to, :format => '%H:%M' %>
</p>

<p>
  <strong><%= Punch.human_attribute_name(:extra_hour) %>:</strong>
  <%= @punch.extra_hour %>
</p>

<p>
  <strong><%= Punch.human_attribute_name(:project) %>:</strong>
  <%= @punch.project.present? ? @punch.project.name : '' %>
</p>

<p>
  <strong><%= Punch.human_attribute_name(:user) %>:</strong>
  <%= @punch.user.present? ? @punch.user.name : '' %>
</p>

<% if @punch.attachment? %>
  <p>
    <strong><%= Punch.human_attribute_name(:attachment) %>:</strong>
    <%= link_to (image_tag @punch.attachment_url, width: 250, height: 250), @punch.attachment_url %>
  </p>
<% end %></p>

<% unless @punch.comment.nil? %>
  <p>
    <strong><%= Punch.human_attribute_name(:comment) %>:</strong>

    <p>
      <%= gravatar_for(@punch.user) %>
      <%= @punch.comment %>
    </p>
  </p>
<% end %>
