<table class="w-full whitespace-no-wrap ">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3"><%= I18n.t('mentor') %></th>
      <th class="px-4 py-3"><%= I18n.t('offices') %></th>
      <th class="px-4 py-3"><%= I18n.t('mentees') %></th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <% mentorings.each do |mentoring| %>
      <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3">
          <div class="flex items-center text-sm gap-1">
            <%= gravatar_for mentoring, { size: 30, css_class: 'object-cover rounded-full' } %>
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%= mentoring.name %>
            </p>
            </div>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= mentoring.office_city %>
            </p>
            </div>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <%= mentoring.mentees.join(', ') %>
            </p>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
