<%= form_for 'shortcuts-search', html: { class: 'shortcuts-form' } do |f| %>
  <fieldset>
    <%= f.label t(:resources), for: 'shortcut-resource' %>
    <%= f.select :section, resources_collection, {}, { id: 'shortcut-resource', class: 'select input' }  %>
  </fieldset>

  <fieldset>
    <%= f.label t(:available_values), for: 'shortcut-data' %>
    <%= f.select :search, data_collection, {}, { id: 'shortcut-data' }  %>
  </fieldset>
  
  <div>
    <%= link_to t(:go_to), url_path, id: 'shortcut-link', class: "button" %>
  </div>
<% end %>