<% content_for :page_title do %>
  <%= t('revenue_forecast') %>
<% end %>

<div id="revenue_forecast_years">
  <% @years_range.each do |year| %>
    <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 border
  border-transparent rounded-t-lg bg-primary-600 active:bg-primary-600 hover:bg-primary-700 focus:outline-none
  focus:ring" data-tab-id="<%= selector_data_tab_id year %>">
      <%= year %>
    </button>
  <% end %>
</div>

<div class="w-full overflow-x-auto rounded-lg ring-1 ring-black ring-opacity-5" id="revenue_forecast_index">
  <div data-tab-content>
    <% @years_range.each do |year| %>
      <div id="<%= selector_data_tab_id year %>">
        <h2 class="text-gray-700 dark:text-gray-400 py-2"> <%= I18n.t('international_market') %> </h2>
        <%= render 'forecasts_table', { forecast: international_forecast(year) } %>

        <h2 class="text-gray-700 dark:text-gray-400 py-2"> <%= I18n.t('internal_market') %> </h2>
        <%= render 'forecasts_table', { forecast: internal_forecast(year) } %>
      </div>
    <% end %>
  </div>
</div>

<div id='detailed_month_forecast'>
  <h2 class="text-gray-700 dark:text-gray-400 py-2"> <%= I18n.t('detailed_month_forecast') %> </h2>

  <%= form_with url: new_admin_revenue_forecast_index_path(format: :xlsx), method: :get do |form| %>

    <div class='flex justify-start items-end gap-1'>
      <div>
        <%= form.label :month, 'Mês', class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase"  %>
        <%= form.text_field :month, class: 'w-full font-semibold rounded-lg text-sm dark:bg-slate-700 dark:text-gray-400' %>
      </div>

      <div>
        <%= form.label :year, 'Ano', class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase"  %>
        <%= form.text_field :year, class: 'w-full font-semibold rounded-lg text-sm dark:bg-slate-700 dark:text-gray-400' %>
      </div>

      <div>
        <%= form.submit t('helpers.download_excel'), formmethod: :get, class: "px-4 py-2 mr-2 cursor-pointer font-semibold text-sm text-white transition-colors duration-150 rounded-lg bg-primary-600 hover:bg-primary-700" %>
      </div>
    </div>
  <% end %>
<div>
