<h1>
  <%= link_to '&#10094;'.html_safe, periods_path %> <%= @period %>
</h1>

<table class="punches-table">
<thead>
  <tr>
    <%- @period.daynames.each do |dayname| %>
      <th><%= dayname %></th>
    <%- end %>
  </tr>
</thead>
<%- @period.weeks.each do |weekdays| %>
  <tr>
    <%- weekdays.each do |date| %>
      <td class="<%= @period.day_classes(date) %>">
        <p class="day"><%= date.day %></p>
      </td>
    <%- end %>
  </tr>
<%- end %>
</table>

<dl class="punches-summary">
  <dt>Total hours</dt>
  <dd><%= @period.punches.total_hours %><dd>
  <dt>Punches</dt>
  <dd><%= @period.punches.count %><dd>
  <dt>Days</dt>
  <dd><%= @period.punches.by_date.count %><dd>
</dl>
