<%= simple_form_for @talk do |f| %>
  <div class="row">
    <div class="col-lg-8">
      <%= f.input :event_name, as: :string, placeholder: 'RailsConf' %>
      <%= f.input :talk_title, as: :string, placeholder: 'A Rails Performance Guidebook' %>
      <%= f.input :date, as: :string, input_html: { class: 'datepicker', data: { allow_overtime: 'true' }} %>
    </div>
  </div>

  <%= f.submit t('helpers.save') %>
<% end %>
