<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= Talk.human_attribute_name(:event_name) %></th>
      <th><%= Talk.human_attribute_name(:talk_title) %></th>
      <th><%= Talk.human_attribute_name(:date) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if talks.any? %>
      <% talks.each do |talk| %>
        <tr>
          <td><%= talk.event_name %></td>
          <td><%= talk.talk_title %></td>
          <td><%= talk.date %></td>
          <td><%= image_tag('edit.png', class: 'mx-auto') %></td>
          <td><%= image_tag('destroy.png', class: 'mx-auto') %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">
          <%= t('talks.no_talks_found') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>