<%= form_for(user, url: url_path) do |f| %>

  <%= render "shared/errors", messages: user.errors.full_messages %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </fieldset>

  <fieldset>
    <%= f.label :github %>
    <%= f.text_field :github, class: 'form-control' %>
  </fieldset>

  <div>
    <%= f.submit %>
  </div>

<% end %>
