<%= form_for(user, url: url_path) do |f| %>

  <%= render "shared/errors", messages: user.errors.full_messages %>

  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>

  <div> 
  <%= f.submit %> 
  </div>

<% end %>
