<%= form_for(current_user, url: user_account_password_update_path) do |f| %>
	<table border="0" cellspacing="8" cellpadding="8">
    <tr>
      <th><%= f.label 'Current Password' %></th>
      <th><%= f.password_field :current_password %></th>
    </tr>
		<tr>
			<th><%= f.label 'Password' %></th>
			<th><%= f.password_field :password %></th>
		</tr>
		<tr>
			<th><%= f.label 'Password Confirmation' %></th>
			<th><%= f.password_field :password_confirmation %></th>
		</tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Cancel', user_account_path, class: 'btn btn-danger' %>
      </td>
      <td colspan="2">
        <div class="actions">
          <%= f.submit('Update', { class: 'btn btn-primary' }) %>
        </div>
      </td>
    </tr>
	</table>
<% end %>