%h2= @user.name
%div= gravatar_for @user, size: 100
%p
  %div
    %p
      = "Email: "
      = mail_to @user.email
    %p= "Custo: #{@user.hour_cost} R$/h" if current_user.is_admin?
  %div
    %p= "Administrator: #{@user.is_admin? ? 'yes' : 'no'}"


