<h2 class="text-3xl mb-8"><%= t("form.title.change_your_password")%></h2>

<%= form_for(resource, url: password_path(resource_name), html: { method: :put, class: 'w-full' }) do |f| %>
  <%= render "shared/errors", messages: resource.errors.full_messages %>
  <%= f.hidden_field :reset_password_token %>


  <div class="w-full space-y-6">
    <fieldset class="w-full">
      <%= f.label :password, t("form.field.new_password") %>
      <%= f.password_field :password, required: true, minLength: 8,
      class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 mt-2 mb-2 focus:border-grey-200 focus:ring-0" %>
    </fieldset>
    
    <% if @minimum_password_length %>
      <span><em>(<%= @minimum_password_length %> <%= t("form.hint.minimum_caracters")%>)</em></span>
    <% end %>

    <fieldset class="w-full">
      <%= f.label :password_confirmation, t("form.field.confirm_new_password")%>
      <%= f.password_field :password_confirmation, required: true, minLength: 8,
      class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 mt-2 focus:border-grey-200 focus:ring-0" %>
    </fieldset>
  </div>

  <div>
    <%= f.submit t("form.button.change_my_password"),
        class: "w-full h-10 mt-8 px-4 rounded bg-red text-white transition-all hover:brightness-110 mb-4 cursor-pointer" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
