<table class="table-auto w-full" id="index_table_questionnaires">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3"><%= Questionnaire.human_attribute_name(:title) %></th>
      <th class="px-4 py-3"><%= Questionnaire.human_attribute_name(:kind) %></th>
      <th class="px-4 py-3"><%= Questionnaire.human_attribute_name(:active) %></th>
      <th class="px-4 py-3"><%= t 'created_at' %></th>
      <th class="px-4 py-3"><%= t 'updated_at' %></th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 text-sm">
    <% questionnaires.each do |questionnaire| %>
      <tr id=<%= "questionnaire_#{questionnaire.id}" %> class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3">
          <div class="flex items-center">
            <span><%= questionnaire.title %></span>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center">
            <span><%= questionnaire.kind %></span>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center">
            <% if questionnaire.active %>
              <%= heroicon "check-circle", variant: :mini, options: {class: "w-8 h-8"} %>
            <% else %>
              <%= heroicon "x-circle", variant: :mini, options: {class: "w-8 h-8"} %>
            <% end %>   
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center">
            <span><%= l(questionnaire.created_at, format: :short) %></span>
          </div>
        </td>
        <td class="px-4 py-3">
          <div class="flex items-center">
            <span><%= l(questionnaire.updated_at, format: :short) %></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
