<% content_for :page_title do %>
  <%= t('questionnaires.show_title', id: @questionnaire.id) %>
<% end %>

<div data-tab-id="questionnaire">
    <div id="questionnaire_actions" class="flex items-center justify-end">
    <div class="mx-2">
      <%= link_to edit_new_admin_questionnaire_path(id: @questionnaire.id) do %>
        <button class="px-4 py-2 text-sm text-white transition-colors font-semibold duration-150 border border-transparent rounded-lg bg-primary-600 hover:bg-primary-700">
          <%= t 'helpers.edit' %>
        </button>
      <% end %>
    </div>
  </div>
  <table class="w-full whitespace-nowrap">
    <thead>
      <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
        <th colspan="100%" class="px-4 py-3"><%= t 'questionnaires.details' %></th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:title) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-bold">
              <%= @questionnaire.title %>
            </p>
          </div>
        </td>
      </tr>
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:kind) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%=  @questionnaire.kind %>
            </p>
          </div>
        </td>
      </tr>
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:active) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <% if @questionnaire.active %>
                <%= heroicon "check-circle", variant: :mini, options: {class: "w-8 h-8"} %>
              <% else %>
                <%= heroicon "x-circle", variant: :mini, options: {class: "w-8 h-8"} %>
              <% end %> 
            </p>
          </div>
        </td>
      </tr>
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:description) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%= @questionnaire.description %>
            </p>
          </div>
        </td>
      </tr>
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:created_at) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%=  l(@questionnaire.created_at, format: :short) %>
            </p>
          </div>
        </td>
      </tr>
      <tr class="text-gray-700 dark:text-gray-400">
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Questionnaire.human_attribute_name(:updated_at) %>
          </div>
        </th>
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
              <%=  l(@questionnaire.updated_at, format: :short) %>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
            <%= Question.model_name.human(count: 2) %>
          </div>
        </th>
        <td>
          <table id="questions-table" class="w-full whitespace-nowrap">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
                <td class="px-4 py-3"><%= Question.human_attribute_name(:title) %></td>
                <td class="px-4 py-3"><%= Question.human_attribute_name(:kind) %></td>
                <td class="px-4 py-3"><%= Question.human_attribute_name(:answer_options) %></td>
              </tr>
            </thead>
            <tbody>
              <% @questionnaire.questions.each do |question| %>
                <tr class="text-gray-700 dark:text-gray-400">
                  <th class="w-1/2 px-4 py-3">
                    <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase">
                      <%= question.title %>
                    </div>
                  </th>
                  <td class="w-1/2 px-4 py-3">
                    <div class="flex items-center text-sm">
                      <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                        <%= question.kind %>
                      </p>
                    </div>
                  </td>
                  <td class="w-1/2 px-4 py-3">
                    <div class="flex items-center text-sm">
                      <ul class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                        <% question.answer_options.each do |answer_option| %>
                          <li>- <%= answer_option %></li>                          
                        <% end %>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            <tbody>
          </table>
        </td>
      </tr>
    <tbody>
  <table>
</div>
