= form_for(@project, url: path) do |f|
  = render "shared/errors", messages: @project.errors.full_messages
  %div= f.label :name
  %div= f.text_field :name

  %div= f.submit
= link_to 'Back', projects_path