<div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
          <th colspan="100%" class="px-4 py-3"><%= t 'active_admin.allocated_user_punches' %></th>
        </tr>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-white dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3"><%= Punch.human_attribute_name('when') %></th>
          <th class="px-4 py-3"><%= Punch.human_attribute_name('from') %></th>
          <th class="px-4 py-3"><%= Punch.human_attribute_name('to') %></th>
          <th class="px-4 py-3"><%= Punch.human_attribute_name('delta') %></th>
          <th class="px-4 py-3"><%= Punch.human_attribute_name('extra_hour') %></th>
          <th class="px-4 py-3"><%= Punch.human_attribute_name('access') %></th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <% allocation.user_punches.each do |punch| %>
          <tr class="text-gray-700 dark:text-gray-300">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%=  punch.date  %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= punch.from %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= punch.to %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= punch.delta %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= I18n.t(punch.extra_hour.to_s) %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <%= link_to new_admin_user_punch_path(punch), class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 dark:text-gray-400" do %>
                <div class="flex items-center text-sm underline hover:text-white">
                  <p class="text-sm text-gray-600 dark:text-gray-400 dark:hover:text-gray-200">
                    <%= allocation.end_at ? l(allocation.end_at) : t('not_allocated') %>
                  </p>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
