<% content_for :page_title do %>
  <%= t 'allocation' %> #<%= @allocation.id %>
<% end %>

<div data-tab-id="allocation" class="space-y-6">
  <div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
          <th colspan="100%" class="px-4 py-3"><%= t 'allocation_details' %></th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'user' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.user.name %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'project' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.project.name %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'activerecord.attributes.allocation.hourly_rate' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.hourly_rate %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'activerecord.attributes.allocation.start_at' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.start_at %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'activerecord.attributes.allocation.end_at' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.end_at %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'activerecord.attributes.allocation.days_left' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.days_left %>
              </p>
            </div>
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-300">
          <th class="w-1/12">
            <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
              <%= t 'activerecord.attributes.allocation.ongoing' %>
            </div>
          </th>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                <%= @allocation.ongoing %>
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
          <th colspan="100%" class="px-4 py-3"><%= t 'revenue_forecast' %></th>
        </tr>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3"><%= t 'activerecord.attributes.exchange_rate.month' %></th>
          <th class="px-4 py-3"><%= t 'working_hours' %></th>
          <th class="px-4 py-3"><%= t 'forecast' %></th>
        </tr>
        </thead>

        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <% @allocation_forecast.each do |allocation| %>
          <tr class="text-gray-700 dark:text-gray-300">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= "#{allocation[:month]}/#{allocation[:year]}"  %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= allocation[:working_hours] %>
                </p>
              </div>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                  <%= allocation[:forecast] %>
                </p>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
            <th colspan="100%" class="px-4 py-3"><%= t 'active_admin.allocated_user_punches' %></th>
          </tr>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3"><%= t 'activerecord.attributes.punch.when' %></th>
            <th class="px-4 py-3"><%= t 'activerecord.attributes.punch.from' %></th>
            <th class="px-4 py-3"><%= t 'activerecord.attributes.punch.to' %></th>
            <th class="px-4 py-3">Delta</th>
            <th class="px-4 py-3"><%= t 'activerecord.attributes.punch.extra_hour' %></th>
          </tr>
        </thead>

        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <% @allocation_punches.each do |punch| %>
            <tr class="text-gray-700 dark:text-gray-300">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                    <%=  punch.date  %>
                  </p>
                </div>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                    <%= punch.from %>
                  </p>
                </div>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                    <%= punch.to %>
                  </p>
                </div>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                    <%= punch.delta %>
                  </p>
                </div>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <p class="text-sm text-gray-600 dark:text-gray-400 font-semibold">
                    <%= punch.extra_hour ? I18n.t('true') : I18n.t('false')  %>
                  </p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

