<%= form_with model: repository, url: url, data: { controller: 'nested-form' } do |form| %>
  <div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap" id="form_repository">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
            <th colspan="100%" class="px-4 py-3"><%= t 'repositories.new' %></th>
          </tr>
        </thead>

        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-300">
            <th class="w-1/12">
              <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
                <%= Repository.human_attribute_name('link') %>
              </div>
            </th>
            <td class="px-4 py-3">
              <div class="flex items-center">
                <%= form.text_field :link, class: "bg-gray-100 font-semibold rounded-lg text-gray-600 dark:text-gray-400 h-8 dark:bg-slate-700" %>
              </div>
            </td>
          </tr>

          <tr class="text-gray-700 dark:text-gray-300">
            <th class="w-1/12">
              <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
                <%= Repository.human_attribute_name('description') %>
              </div>
            </th>
            <td class="px-4 py-3">
              <div class="flex items-center">
                <%= form.text_area :description, class: "bg-gray-100 font-semibold rounded-lg text-gray-600 dark:text-gray-400 h-8 dark:bg-slate-700 w-1/2 h-1/4" %>
              </div>
            </td>
          </tr>

          <tr class="text-gray-700 dark:text-gray-300">
            <th class="w-1/12">
              <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
                <%= Repository.human_attribute_name('language') %>
              </div>
            </th>
            <td class="px-4 py-3">
              <div class="flex items-center">
                <%= form.text_field :language, class: "bg-gray-100 font-semibold rounded-lg text-gray-600 dark:text-gray-400 h-8 dark:bg-slate-700" %>
              </div>
            </td>
          </tr>

          <tr class="text-gray-700 dark:text-gray-300">
            <th class="w-1/12">
              <div class="ml-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase ">
                <%= Repository.human_attribute_name('highlight') %>
              </div>
            </th>
            <td class="px-4 py-3">
              <div class="flex items-center">
                <%= form.check_box :highlight, { checked: repository.highlight? }, 'true', 'false' %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex mt-4">
    <%= form.submit t('form.button.submit'), class: "px-4 py-2 cursor-pointer font-semibold text-sm text-white transition-colors duration-150 rounded-lg bg-primary-600 hover:bg-primary-700" %>
  </div>
<% end %>
