<table class="w-full whitespace-no-wrap">
	<thead>
		<tr
			class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
			<th class="px-4 py-3"><%= Repository.human_attribute_name(:link) %></th>
			<th class="px-4 py-3"><%= Repository.human_attribute_name(:language) %></th>
			<th class="px-4 py-3"></th>
		</tr>
	</thead>
	<tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
		<% repositories.each do |repository| %>
			<tr class="text-gray-700 dark:text-gray-400">
				<td class="px-4 py-3">
					<%= link_to repository.link, repository.link, target: :blank,
						class: "underline hover:dark:text-gray-300 hover:text-gray-500" %>
				</td>
				<td class="px-4 py-3 text-sm">
					<%= repository.language %>
				</td>
				<td class="px-4 py-3">
					<div class="flex items-center space-x-4 text-sm">
						<%= link_to new_admin_show_repository_path(id: repository.id), class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg text-primary-600 dark:text-gray-400 hover:text-primary-400 hover:dark:text-gray-300 focus:outline-none focus:ring-gray" do %>
								<%= heroicon 'magnifying-glass', variant: :mini, options: { class: "w-5 h-5" } %>
						<% end %>
						<%= link_to edit_new_admin_repository_path(id: repository.id), class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg text-primary-600 dark:text-gray-400 hover:text-primary-400 hover:dark:text-gray-300 focus:outline-none focus:ring-gray" do %>
							<%= heroicon 'pencil', variant: :solid, options: { class: "w-5 h-5" } %>
						<% end %>
						<%= link_to new_admin_destroy_repository_path(id: repository.id),
								class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg text-primary-600 dark:text-gray-400 hover:text-primary-400 hover:dark:text-gray-300 focus:outline-none focus:ring-gray",
								method: :delete,
								data: { confirm: t('delete_confirmation') } do %>
							<%= heroicon 'trash', variant: :mini, options: { class: "w-5 h-5" } %>
						<% end %>
					</div>
				</td>
			</tr>
			<% end %>
	</tbody>
</table>
