<h2 class="text-3xl mb-8">Sign In</h2>

<%= simple_form_for(resource,
                as: resource_name,
                url: session_path(resource_name),
                html: { novalidate: false, class: 'w-full' }) do |f| %>
  <div class="w-full space-y-6">
    <div class="w-full">
      <%= f.input :email,
              autofocus: true,
              input_html: { autocomplete: "email", class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0" },
              label_html: { class: "block mb-2 text-base text-grey-400" } %>
    </div>

    <div class="w-full">
      <%= f.input :password,
            input_html: { autocomplete: "current-password", class: "w-full form-input bg-grey-50 rounded-md border-2 border-grey-50 focus:border-grey-200 focus:ring-0" },
            label_html: { class: "block mb-2 text-base text-grey-400" } %>
    </div>
  </div>

  <div class="w-full flex justify-between items-center mt-8">
    <%= f.input :remember_me,
        as: :boolean,
        input_html: { class: "appearance-none w-5 h-5 mr-2 bg-grey-50 border-0 rounded-md focus:ring-0 text-grey-400" },
        label_html: { class: "text-base text-grey-400 font-medium" } if devise_mapping.rememberable? %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-sm text-blue" %>
    <% end %>
  </div>

  <%= f.button :submit, "Login", class: "w-full h-10 mt-8 px-4 rounded bg-red text-white transition-all hover:brightness-110" %>
<% end %>
