  <div class="access-form-container mt-2">
    <h2 class="text-center mb-3">Sign In</h2>

    <%= simple_form_for(resource,
                        as: resource_name,
                        url: session_path(resource_name),
                        html: { novalidate: false }) do |f| %>
      <div class="form-inputs">
        <div class="input-group">
          <div class="input-group-prepend">
           <span class="input-group-text"> <i class="fa fa-user"></i></span>
          </div>
          <%= f.input_field :email,
                      label: false,
                      required: true,
                      autofocus: true,
                      placeholder: "E-mail",
                      class: "form-control",
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
           <span class="input-group-text"> <i class="fa fa-lock"></i></span>
          </div>
          <%= f.input_field :password,
                    label: false,
                    required: true,
                    placeholder: "Password",
                    class: "form-control",
                    input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
           <span class="input-group-text"> <i class="fa fa-lock"></i></span>
          </div>
          <%= f.input_field :otp_attempt,
                    label: false,
                    placeholder: "6 digit code",
                    class: "form-control" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Login", class: "w-100" %>
        </div>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
