<table class="table-auto w-full h-fit" id="index_table_projects">
  <thead>
  <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
    <th class="px-4 py-3"><%= Project.human_attribute_name('name') %></th>
    <th class="px-4 py-3"><%= Project.human_attribute_name('market') %></th>
    <th class="px-4 py-3"><%= Project.human_attribute_name('active') %></th>
    <th class="px-4 py-3"></th>
  </tr>
  </thead>
  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 text-sm text-start">
    <% projects.each do |project| %>
      <tr id="<%= "project_#{project.id}" %>" class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3">
          <%= project.name %>
        </td>

        <td class="px-4 py-3">
          <%= project.market %>
        </td>

        <td class="px-4 py-3">
          <%= heroicon "#{project.active ? 'check' : 'x' }-circle", options: { class: "h-8 w-8" } %>
        </td>

        <td class="px-4 py-3">
          <div class="space-x-4">
            <%= link_to t('view'),
                        new_admin_show_project_path(id: project.id),
                        class: 'font-semibold transition-colors duration-150 underline dark:hover:text-white hover:text-gray-900'
            %>
            <%= link_to t('edit'),
                        edit_new_admin_project_path(id: project.id),
                        class: 'font-semibold transition-colors duration-150 underline dark:hover:text-white hover:text-gray-900'
            %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
