<div class="w-full overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap" id="allocations_table_projects">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-white dark:bg-slate-700">
          <th colspan="100%" class="px-4 py-3">
            <%= Allocation.model_name.human(count: 2) %>
          </th>
        </tr>

        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-white dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3"><%= Allocation.human_attribute_name('user') %></th>
          <th class="px-4 py-3"><%= Allocation.human_attribute_name('start_at') %></th>
          <th class="px-4 py-3"><%= Allocation.human_attribute_name('end_at') %></th>
          <th class="px-4 py-3"><%= Allocation.human_attribute_name('access') %></th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <% allocations.each do |allocation| %>
          <tr id="<%= "project_allocation_#{allocation.id}" %>" class="text-gray-700 dark:text-gray-300">
            <td class="px-4 py-3 text-sm">
              <%= allocation.user_name %>
            </td>

            <td class="px-4 py-3 text-sm">
              <%= l allocation.start_at, format: :long %>
            </td>

            <td class="px-4 py-3 text-sm">
              <%= l allocation.end_at, format: :long %>
            </td>

            <td class="px-4 py-3 text-sm">
              <%= link_to t('view'),
                          new_admin_user_allocation_path(id: allocation.id),
                          class: 'font-semibold transition-colors duration-150 underline dark:hover:text-white hover:text-gray-900' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
