<% content_for :page_title do %>
  <%= t('projects.title') %>
<% end %>

<div class="flex justify-end mx-2 mb-4">
  <%= link_to nil do %>
    <button class="px-4 py-2 text-sm text-white transition-colors font-semibold duration-150 border border-transparent rounded-lg bg-primary-600 hover:bg-primary-700">
      <%= t '.new' %>
    </button>
  <% end %>
</div>

<div data-tab-id="projects" class="overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="flex justify-between gap-4">
    <% if @projects.any? %>
      <%= render 'projects_table', projects: @projects %>
    <% else %>
      <h3 class="text-xs font-semibold text-left uppercase dark:text-gray-400">
        <%= t('projects.empty') %>
      </h3>
    <% end %>
    <div id="filters_sidebar_section">
      <%= render 'projects_filters' %>
    </div>
  </div>
</div>

<section id="pagination_projects" class="dark:text-gray-400">
  <%= paginate @projects %>
</section>
