<% content_for :page_title do %>
  <%= @project.name %>
<% end %>

<div class="space-y-6">
  <div id="project_actions" class="flex items-center justify-end">
    <div class="mx-2">
      <%= link_to edit_new_admin_project_path(id: @project.id) do %>
        <button class="px-4 py-2 text-sm text-white transition-colors font-semibold duration-150 border border-transparent rounded-lg bg-primary-600 hover:bg-primary-700">
          <%= t '.edit' %>
        </button>
      <% end %>
    </div>

    <div class="mx-2">
      <%= link_to new_admin_destroy_project_path(id: @project.id), method: :delete, data: { confirm: t('delete_confirmation') } do %>
        <button class="px-4 py-2 text-sm text-white transition-colors font-semibold duration-150 border border-transparent rounded-lg bg-primary-600 hover:bg-primary-700">
          <%= t '.destroy' %>
        </button>
      <% end %>
    </div>
  </div>

  <div class="w-full overflow-hidden rounded-tr-lg ring-1 ring-black ring-opacity-5">
    <div class="w-full overflow-x-auto">
      <div id="project_details">
        <%= render 'project_details', project: @project %>
      </div>

      <div id="project_allocations">
        <%= render 'project_allocations', allocations: @allocations %>
      </div>

      <div id="project_revenue_forecast">
        <%= render 'project_revenue_forecast', revenue_forecast: @revenue_forecast %>
      </div>
    </div>
  </div>
</div>
