<div id="page-top" class="row">
  <div class="container-fluid home">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>
        <%= t('my_contributions.my_contributions') %>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered users-evaluation" id="dataTable">
            <thead>
              <tr>
                <th>Link</th>
                <th>Criado em</th>
                <th>Estado</th>
                <th>Revisado em</th>
                <th>Revisado por</th>
              </tr>
            </thead>
            <tbody>
              <% @user_contributions.each do |contribution| %>
                <tr>
                  <td><%= link_to contribution.link, contribution.link, target: :blank %></td>
                  <td><%= contribution.created_at.strftime('%d/%m/%Y') %></td>
                  <td><%= Contribution.human_attribute_name("state/#{contribution.state}") %></td>
                    <td><%= contribution.reviewed_at.strftime('%d/%m/%Y') %></td>
                  <td><%= contribution.reviewed_by %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <div data-modal="questionnaire-kinds"></div>
</div>
