%nav{class: "navbar navbar-inverse", role: "navigation"}
  .navbar-header
    %button{type: "button", class: "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => ".navbar-ex1-collapse"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-ba
      %span.icon-ba
    .navbar-brand= link_to "Punchclock - #{current_user.company.name}", root_path
  %ul{class: "nav navbar-nav navbar-right"}
    %li
      %p.navbar-text
        Welcome,
        %strong
          = image_tag current_user.company.avatar.url, width: 48, height: 48
          = link_to "#{current_user.name}", edit_user_path(current_user)
    %li= link_to 'Logout', home_logout_path