<%= form_for(@company, url: company_path) do |f| %>
  <%= render "shared/errors", messages: @company.errors.full_messages %>
  <div> <%= f.label :name %> </div>
  <div> <%= f.text_field :name %> </div>

  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div>
   <%= f.hidden_field :avatar_cache %>
  </div>

  <div>
    <%= image_tag @company.avatar.url, width: 48, height: 48 if @company.avatar? %>
  </div>

  <div>
    <%= f.check_box :remove_avatar %>
    <%= f.label :remove_avatar, 'remove' %>
  </div>

  <div> <%= f.submit %> </div>
<% end %>
<%= link_to 'Back', edit_company_path %>
