<% content_for :page_title do %>
  <%= t('regional_holidays.title') %>
<% end %>

<div class="flex justify-end">
  <div class="mx-2 mb-4">
    <%= link_to new_new_admin_regional_holiday_path do %>
      <button class="px-4 py-2 text-sm text-white transition-colors font-semibold duration-150 border border-transparent rounded-lg bg-primary-600 hover:bg-primary-700">
        <%= t '.new' %>
      </button>
    <% end %>
  </div>
</div>

<div data-tab-id="regional_holidays" class="overflow-hidden rounded-lg ring-1 ring-black ring-opacity-5">
  <div class="flex justify-between gap-4">
    <% if @regional_holidays.any? %>
      <%= render 'regional_holidays_table', regional_holidays: @regional_holidays %>
    <% else %>
      <h3 class="text-xs font-semibold text-left uppercase dark:text-gray-400">
        <%= t('regional_holidays.empty') %>
      </h3>
    <% end %>
    <div id="filters_sidebar_section">
      <%= render 'regional_holidays_filters' %>
    </div>
  <div>
</div>
