<h1><%= t '.info', user: @vacation.user.name %></h1>

<p><%= t '.start_date', date: l(@vacation.start_date) %></p>
<p><%= t '.end_date', date: l(@vacation.end_date) %></p>
<p><%= t '.count', count: (@vacation.end_date - @vacation.start_date).to_i %></p>

<div style="display: flex">
  <div style="margin-right: 10px">
    <%= link_to t('.approve_button'), admin_vacations_approve_url(@vacation) %>
  </div>

  <div>
    <%= link_to t('.deny_button'), admin_vacations_denied_url(@vacation) %>
  </div>
</div>
</ul>
