<h1><%= t '.subject' %></h1>

<table style="width: 80%">
  <thead>
    <tr>
      <th></th>
      <th style="width: 8em"><%= t 'start_date' %></th>
      <th style="width: 8em"><%= t 'end_date' %></th>
      <th style="width: 10em"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.user.name %></td>
        <td><%= l vacation.start_date %></td>
        <td><%= l vacation.end_date %></td>
        <td>
          <%= link_to t('.approve_button'), admin_vacations_approve_url(vacation) %>
          <%= link_to t('.deny_button'), admin_vacations_denied_url(vacation) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
