<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <% if user_signed_in? %>
        <ul id="navigation-menu">
          <li class="nav-brand">
            <%= link_to raw("Punchclock <small>#{current_user.company.name}</small>"), root_path %>
          </li>
          <li>
            <%= link_to dashboard_index_path do %>
              <%= t('.dashboard') %>
              <span class="beta">Beta</span>
            <%- end %>
          </li>
          <li><%= link_to Punch.model_name.human.pluralize, punches_path %></li>
          <li><%= link_to User.model_name.human.pluralize, users_path %></li>
          <li><%= link_to t('evaluation.plural'), kind_evaluations_path(Evaluation::KINDS[:received]) %></li>
          <li class="account">
            <%= link_to current_user.email, edit_user_path(current_user) %>
            <span class="logout"> <%= link_to t('.logout'), destroy_user_session_path, method: :delete %> </span>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
