<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li>
          <%= link_to "Punchclock - #{current_user.company.name}", root_path, class: "navbar-brand" %>
        </li>
        <!--<li>
          <%= link_to periods_path do %>
            <%= Period.model_name.human.pluralize %>
            <span class="experimental">Experimental</span>
          <%- end %>
        </li>-->
        <li><%= link_to Punch.model_name.human.pluralize, punches_path %></li>
        <li><%= link_to User.model_name.human.pluralize, users_path %></li>
        <li class="account">
          <%= link_to current_user.email, edit_user_path(current_user) %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
  <p class="main-actions">
    <%= link_to 'Punch', new_punch_path, :class => 'button' %>
  </p>

</header>
