<header>
  <div>
    <nav class="navbar navbar-expand navbar-dark static-top">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag("codeminer-main-logo.png", alt: "codeminer-logo", class: "logo") %>
        <% end %>
      </div>

      <% if current_user %>
        <div class="links">
          <div class="dropdown">
            <%= link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle" do %>
              <%= t('.punches') %><span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu bg-danger" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to new_punch_path, class:"justify-content-start" do %>
                  <%= t('.single_punch') %>
                <%- end %>
              </li>
              <li>
                <%= link_to dashboard_index_path, class:"justify-content-start" do %>
                  <%= t('.multiple_punches') %>
                <% end %>
              </li>
            </ul>
          </div>

          <% if can? :read, Evaluation %>
            <%= link_to t('activerecord.models.evaluation.other'), evaluations_path %>
          <% end %>
        </div>

        <div class="links">
          <%= link_to repositories_path do %>
            <%= t('.open_source') %>
          <% end %>
          <% if ENV["ENABLE_VACATION"].present? %>
            <%= link_to vacations_path do %>
              <%= t('.vacations') %>
            <% end %>
          <% end %>
          <%= link_to contributions_path do %>
            <%= t('.my_contributions') %>
          <% end %>

          <% if can?(:read, ActiveAdmin) %>
            <%= link_to admin_root_path do %>
              <%= t('.administrative') %>
            <% end %>
          <% end %>
        </div>

        <div class="links">
          <div class="dropdown">
            <%= link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle resume" do %>
              <%= t('.my_resume') %><span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu bg-danger" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to education_experiences_path, class:"justify-content-start" do %>
                  <%= EducationExperience.model_name.human %>
                <%- end %>
              </li>
              <li>
                <%= link_to talks_path, class:"justify-content-start" do %>
                  <%= Talk.model_name.human %>
                <%- end %>
              </li>
            </ul>
          </div>
        </div>

        <div class="navbar-nav ml-auto nav-link">
          <div class="text-center user-info">
            <span class="text-uppercase">
              <%= link_to current_user.name, user_path %>
            </span>
            <span class="text-uppercase">
              <%= current_user.current_allocation %>
            </span>
          </div>
          <%= link_to user_path do %>
            <%= gravatar_for current_user, size: 40 %>
          <% end %>
          <%= link_to t('.logout'), destroy_user_session_path %>
        </div>
      <% end %>
    </nav>
  </div>
</header>
