<header>
  <div>
    <nav class="navbar navbar-expand navbar-dark static-top">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag("codeminer-main-logo.png", alt: "codeminer-logo", class: "logo") %>
        <% end %>
      </div>

      <% if current_user %>
        <div class="links">
          <%= link_to dashboard_index_path do %>
            <%= t('.dashboard') %>
          <%- end %>
          <%= link_to Punch.model_name.human.pluralize, punches_path %>
          <% if can? :read, Evaluation %>
            <%= link_to t('activerecord.models.evaluation.other'), evaluations_path %>
          <% end %>
        </div>

        <ul class="navbar-nav ml-auto nav-link">
          <%= link_to user_path do %>
            <%= current_user.name %>
            <%= gravatar_for current_user, size: 40 %>
          <% end %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
