<aside class="z-20 flex-shrink-0 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block">
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200">
      PunchClock
    </a>
    <ul class="mt-6">
      <li class="relative px-6 py-3">
        <%= link_to new_admin_mentorings_path, class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
          <%= inline_svg_tag 'mentoring.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t('mentoring') %></span>
        <% end %>
      </li>
      <li class="relative px-6 py-3">
        <%= link_to new_admin_allocation_charts_path, class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
          <%= inline_svg_tag 'allocation_chart.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t 'allocation_chart' %></span>
        <% end %>
      </li>
      <li class="px-6 py-3 text-sm font-semibold cursor-pointer">
        <button
          data-menu="submenu"
          class="flex items-center w-full transition-colors duration-800 hover:text-gray-800 dark:hover:text-gray-200"
        >
          <%= inline_svg_tag 'evaluation.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t('evaluations_title') %></span>
          <%= inline_svg_tag 'arrow-down.svg', class: 'ml-auto h-6 w-6 transition-transform', data: { icon: 'arrow' } %>
        </button>
        <ul class="pl-10 py-1 mt-1 bg-gray-200 dark:bg-gray-900 rounded-lg hidden">
          <li class="my-2">
            <%=
              link_to I18n.t('evaluations_title'),
              new_admin_evaluations_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
          <li class="my-2">
            <%=
              link_to Questionnaire.model_name.human(count: 2),
              new_admin_questionnaires_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
          <li class="my-2">
            <%=
              link_to Note.model_name.human(count: 2),
              new_admin_notes_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
        </ul>
      <li class="relative px-6 py-3">
        <%= link_to new_admin_regional_holidays_path, class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
          <%= inline_svg_tag 'regional_holiday.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t('regional_holidays.title') %></span>
        <% end %>
      </li>

      <li class="relative px-6 py-3">
        <%= link_to new_admin_projects_path, class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
          <%= inline_svg_tag 'projects.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t('projects.title') %></span>
        <% end %>
      </li>

      <li class="relative px-6 py-3">
        <%= link_to new_admin_revenue_forecast_index_path, class: "inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
          <%= inline_svg_tag 'revenue_forecast.svg', class: 'h-6 w-6' %>
          <span class="ml-4"><%= t('revenue_forecast') %></span>
        <% end %>
      </li>

      <li class="px-6 py-3 text-sm font-semibold cursor-pointer">
        <button
          data-menu="submenu"
          class="flex items-center w-full transition-colors duration-800 hover:text-gray-800 dark:hover:text-gray-200"
        >
          <%= heroicon 'gift', variant: :outline, options: { class: 'h-6 w-6' } %>
          <span class="ml-4"><%= t('contributions.title') %></span>
          <%= heroicon 'chevron-down', options: { class: 'ml-auto h-6 w-6 transition-transform', data: { icon: 'arrow' } }%>
        </button>
        <ul class="pl-10 py-1 mt-1 bg-gray-200 dark:bg-gray-900 rounded-lg hidden">
          <li class="my-2">
            <%=
              link_to I18n.t('repositories.title'),
              new_admin_repositories_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
          <li class="my-2">
            <%=
              link_to I18n.t('contributions.title'),
              new_admin_contributions_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
        </ul>
      </li>

      <li class="px-6 py-3 text-sm font-semibold cursor-pointer">
        <button
          data-menu="submenu"
          class="flex items-center w-full transition-colors duration-800 hover:text-gray-800 dark:hover:text-gray-200"
        >
          <%= heroicon 'user', variant: :outline, options: { class: 'h-6 w-6' } %>
          <span class="ml-4"><%= t('users.title') %></span>
          <%= heroicon 'chevron-down', options: { class: 'ml-auto h-6 w-6 transition-transform', data: { icon: 'arrow' } }%>
        </button>
        <ul class="pl-10 py-1 mt-1 bg-gray-200 dark:bg-gray-900 rounded-lg hidden">
          <li class="my-2">
            <%=
              link_to I18n.t('users.title'),
              new_admin_admin_user_index_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
          <li class="my-2">
            <%=
              link_to I18n.t('vacations.title'),
              new_admin_vacations_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
        </ul>
      </li>

      <li class="px-6 py-3 text-sm font-semibold cursor-pointer">
        <button
          data-menu="submenu"
          class="flex items-center w-full transition-colors duration-800 hover:text-gray-800 dark:hover:text-gray-200"
        >
          <%= heroicon 'user', variant: :outline, options: { class: 'h-6 w-6' } %>
          <span class="ml-4"><%= t('users.title') %></span>
          <%= heroicon 'chevron-down', options: { class: 'ml-auto h-6 w-6 transition-transform', data: { icon: 'arrow' } }%>
        </button>
        <ul class="pl-10 py-1 mt-1 bg-gray-200 dark:bg-gray-900 rounded-lg hidden">
          <li class="my-2">
            <%=
              link_to I18n.t('users.title'),
              new_admin_admin_user_index_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
          <li class="my-2">
            <%=
              link_to I18n.t('vacations.title'),
              new_admin_vacations_path,
              class: "block w-full hover:text-gray-800 dark:hover:text-gray-200"
            %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
