<nav class="navbar navbar-inverse" role="navigation">
  <div class='navbar-header' >
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-ex1-collapse'>
      <span class='sr-only Toggle navigation' > </span>
      <span class='icon-bar' > </span>
      <span class='icon-bar' > </span>
      <span class='icon-bar' > </span>
    </button>
      <%= link_to "Punchclock - #{current_user}", root_path, class: "navbar-brand" %>
       <%# image_tag current_user.avatar.url, width: 48, height: 48 %>
  </div>

  <div id="navbar-ex1-collapse" class="collapse navbar-collapse" >
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to Punch.model_name.human.pluralize, punches_path %></li>
      <li><%= link_to User.model_name.human.pluralize, users_path %></li>
      <li class='dropdown'>
        <%= link_to '#', data: {toggle: 'dropdown'} do %>
          <%= t('.settings') %><span class="caret"></span>
        <%- end %>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
          <li><%= link_to t('.account'), edit_user_path %> </li>
          <li class='divider' > </li>
          <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %> </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
