<div class="px-4 py-3 w-fit h-fit dark:bg-gray-800"> 
  <h3 class="text-xs py-1 font-semibold tracking-wide text-left uppercase border-b dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
    <%= t('helpers.filters') %>
  </h3>
  <%= form_with url: new_admin_contributions_url, method: :get do |form| %>
    <div class="mt-2 space-y-2">
      <div class="flex flex-col space-y-2">
        <%= form.label :user_id, Contribution.human_attribute_name(:user), class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase"  %>
        <%= form.select :user_id, User.pluck(:name, :id), { prompt: t('prompt'), selected: params[:user_id] }, { class: 'w-full font-semibold rounded-lg text-sm dark:bg-slate-700 dark:text-gray-400' } %>
      </div>
      <div class="flex flex-col space-y-2">
        <%= form.label :state, Contribution.human_attribute_name(:state), class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase"  %>
        <%= form.select :state, contribution_state_options_for_select, { prompt: t('prompt'), selected: params[:state] }, { class: 'w-full font-semibold rounded-lg text-sm dark:bg-slate-700 dark:text-gray-400' } %>
      </div>
      <div class="mt-2 space-y-2">
        <%= form.label :created_at, Contribution.human_attribute_name(:created_at), class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase" %>
        <div class="flex flex-row">
          <%= form.date_field :created_at_from, value: params[:created_at_from], class: "mr-2 bg-gray-100 font-semibold rounded-lg text-gray-600 text-sm dark:bg-slate-700 dark:text-gray-400" %>
          <%= form.date_field :created_at_until, value: params[:created_at_until], class: "bg-gray-100 font-semibold rounded-lg text-gray-600 text-sm dark:bg-slate-700 dark:text-gray-400" %>
        </div>
      </div>
      <div class="mt-2 space-y-2">
        <%= form.label :reviewed_at, Contribution.human_attribute_name(:created_at), class: "text-xs font-semibold tracking-wide text-left text-gray-500 uppercase" %>
        <div class="flex flex-row">
          <%= form.date_field :reviewed_at_from, value: params[:reviewed_at_from], class: "mr-2 bg-gray-100 font-semibold rounded-lg text-gray-600 text-sm dark:bg-slate-700 dark:text-gray-400" %>
          <%= form.date_field :reviewed_at_until, value: params[:reviewed_at_until], class: "bg-gray-100 font-semibold rounded-lg text-gray-600 text-sm dark:bg-slate-700 dark:text-gray-400" %>
        </div>
      </div>
 
    </div>
    <div class="mt-4 mb-2">
      <div class="flex flex-row">
        <%= form.submit t('contributions.filter'), formmethod: :get, class: "px-4 py-2 mr-2 cursor-pointer font-semibold text-sm text-white transition-colors duration-150 rounded-lg bg-primary-600 hover:bg-primary-700" %>
        <%= link_to t('contributions.clear'), new_admin_contributions_url, class: "px-4 py-2 cursor-pointer font-semibold text-sm text-white transition-colors duration-150 rounded-lg bg-slate-700 hover:bg-gray-600" %> 
      </div>
    </div>
  <% end %>
</div>
