!!!
%html
  %head
    %title Punchclock
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{user_signed_in? ? 'signed-in' : 'signed-out'}"}
    .page
      - if user_signed_in?
        %nav{class: "navbar navbar-inverse", role: "navigation"}
          .navbar-header
            %button{type: "button", class: "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => ".navbar-ex1-collapse"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-ba
              %span.icon-ba
            .navbar-brand= link_to "Punchclock - #{current_user.company.name}", root_path
          %ul{class: "nav navbar-nav navbar-right"}
            %li
              %p.navbar-text Welcome,
                %strong= link_to "#{current_user.name}", edit_user_path(current_user)
            %li= link_to 'Logout', home_logout_path
      .page-body
        = render 'shared/flash'
        = yield