<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Punchclock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%# <%= render 'refills/navigation' %>

    <%= render 'shared/flash' %>

    <div class="main">
      <%= yield %>
    </div>

    <%# <%= render 'refills/footer' %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "startbootstrap-sb-admin/js/sb-admin" %>
    </div>
  </body>
</html>
