<!DOCTYPE html>
<html>
<head>
  <title>Punchclock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= user_signed_in? ? 'signed-in' : 'signed-out' %>">
  <div class="page">
    <%- if user_signed_in? -%>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Punchclock - <%= current_user.company.name%></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text">
            Welcome,
            <strong><%= current_user.name %></strong>
          </p>
        </li>
        <li><%= link_to 'Logout', home_logout_path %></li>
      </ul>
    </nav>
    <%- end -%>
    <div class="page-body">
      <%- if notice.present? || alert.present? -%>
      <div class="flash-messages">
        <%- if notice.present? -%>
        <p class="alert alert-info"><%= notice %></p>
        <%- end -%>
        <%- if alert.present? -%>
        <p class="alert alert-danger"><%= alert %></p>
        <%- end -%>
      </div>
      <%- end -%>
      <%= yield %>
    </div>
  </div>
</body>
</html>
