<!DOCTYPE html>
<html>
  <head>
    <title>Punchclock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'refills/navigation' %>
    <%= render 'shared/flash' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'refills/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
