<!DOCTYPE html>
<html>
  <head>
    <title> Punchclock </title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'refills/navigation' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'refills/footer' %>
  </body>
</html>
