<!DOCTYPE html>
<html>
  <head>
    <title> Punchclock </title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="#{user_signed_in? ? 'signed-in' : 'signed-out'}" >
    <div class="container row span12">
    <%= render 'navigation' %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
