<h2> Sign up </h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", messages: @user.errors.full_messages %>

  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div>
    <%= f.fields_for :company do |ff| %>
      <%= ff.label 'Company' %>
      <%= ff.text_field :name %>
    <% end %>
  </div>

  <div>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>

  <div>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>

  <div>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>

  <div><%= f.submit "Register" %></div>
<%= render "users/shared/links" %>
